.filter-box {
  position: fixed;
  top: 55px;
  left: calc((100% - 859px) / 2);
  width: 859px;
  height: 74px;
  margin-left: auto;
  margin-right: auto;
  z-index: 500;
  /* border: 1px solid rgb(205, 196, 236); */
  /* background: rgba(0, 0, 0, 0.5); */
}

form {
  display: flex;
  align-items: flex-end;
  height: 100%;
}

.input-item {
  border-radius: 14px;
  padding-left: 18px;
}

.item {
  float: left;
  width: 160px;
  margin-right: 18px;
}

.item:first-child {
  width: 224px;
  border-radius: 14px;
}
.item:nth-child(2) {
  width: 125px;
}
.item:nth-child(3) {
  margin-right: 0px;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #7b7b76;

  font-style: Manrope;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}
.invisible-text {
  font-style: Manrope;
  font-weight: 500;
  line-height: 5px;
  font-size: 0;
}

label:nth-child(4) {
  color: inherit;
}

select,
input {
  height: 48px;
  width: 100%;
}
.input-from {
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
  padding-left: 24px;
  padding-top: 14px;
  padding-bottom: 14px;
}

.input-to {
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  padding-left: 24px;
}

.button {
  width: 136px;
  height: 48px;
  border-radius: 15px;
  background-color: #3470ff;
  color: white;
}
