/*
 * Стили компонента Modal
 */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1200;
}

.modal {
  width: 541px;
  height: 752px;
  background-color: white;
  padding: 40px;
}

.modal-image-car {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 14px;
  margin-bottom: 14px;
}

.modal-first-box-aboutCar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
  gap: 5px;
}

.modal-item-box1 {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  align-content: flex-start;
  gap: 5px;

  font-family: Manrope;
  font-size: 500px;
  font-size: 18px;
  line-height: 24px;
  color: rgba(18, 20, 23, 1);

  margin-bottom: 8px;
}

.modal-text-Make {
  color: rgba(18, 20, 23, 1);
}
.modal-text-model {
  color: #3470ff;
}

.modal-text-year {
  color: black;
}

.modal-second-box-aboutCar {
  display: block;
  color: black;
  margin-bottom: 14px;
}

.modal-item-box2 {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  align-content: flex-start;
  gap: 5px;

  font-family: Manrope;
  font-weight: 400px;
  font-size: 12px;
  color: rgba(18, 20, 23, 0.5);
  margin-bottom: 4px;
}

.modal-text-description {
  font-family: Manrope;
  font-weight: 400px;
  font-size: 14px;
  color: rgba(18, 20, 23, 1);
  line-height: 20px;
  margin-bottom: 24px;
}

.modal-fourth-box-aboutCar {
  font-family: Manrope;
  font-weight: 400px;
  font-size: 14px;
  color: rgba(18, 20, 23, 1);
  line-height: 20px;
  margin-bottom: 8px;
}

.modal-list-accesories {
  font-family: Manrope;
  font-weight: 400px;
  font-size: 12px;
  color: rgba(18, 20, 23, 0.5);
  line-height: 18px;
  margin-bottom: 24px;
}
