.car-box {
  width: 100%;
  margin-top: 190px;
  margin-left: auto;
  margin-right: auto;
  /* border: 1px solid red; */
  color: white;
}

.car-catalog {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
  gap: 28px;
  list-style: none;
  margin-bottom: 50px;
}

.pagination {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-size: 40px;
  cursor: pointer;
  text-align: center;
  margin-bottom: 50px;
}

.item-pagination:hover {
  background-color: #3470ff;
}

.loading {
  color: white;
  font-size: 200px;
}
