.box-text {
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: calc(100vh / 3);
}

.title-text {
  display: block;
  font-weight: 400;
  font-size: 70px;
  line-height: 18px;
  color: #fff;
}

.description-text {
  display: block;
  font-weight: 300;
  font-size: 30px;
  line-height: 18px;
  color: rgb(239, 239, 183);
  line-height: 1.2;
}
